/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2017, 9:51:11 AM
    Author     : apple
*/
.bodys{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.bodys input[type=text]{
    border: #cccccc solid 1px;
    padding: 5px;
    border-radius: 3px;
    background: #FFF;
}

.bodys input[type=password]{
    border: #cccccc solid 1px;
    padding: 5px;
    border-radius: 3px;
    background: #FFF;
}

.bodys input[type=email]{
    border: #cccccc solid 1px;
    padding: 5px;
    border-radius: 3px;
    background: #FFF;

}

.bodys .text-area{
    border: #cccccc solid 1px;
    padding: 5px;
    border-radius: 3px;
    background: #FFF;
}

.bodys .select-box{
    border: #cccccc solid 1px;
    padding: 5px;
    border-radius: 3px;
    background: #FFF;
}

#dropdown-repost{
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}